* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  background-color: #bdbdbd;
  background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
  margin: 0px;
}

h1 {
  text-align: center;
  font-family: Copperplate, Papyrus, fantasy;
}

h2 {
  text-align: center;
  font-family: Copperplate, Papyrus, fantasy;
}

h3 {
  text-align: center;
  font-family: Copperplate, Papyrus, fantasy;
  margin-bottom: auto;
}

.stay {
  text-align: center;
  margin-top: auto;
}

img {
  vertical-align: middle;
}

.why {
  margin-top: 50px;
  font-family: Copperplate, Papyrus, fantasy;
}

.text1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

ul {
  text-align: center;
}

li a:hover {
  background-color: rgba(101, 40, 40, 0.71)
}

/*Stylar menyn*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(105, 105, 105);
}

li {
  float: left;
}

/*Stylar delar av menyn*/
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

li {
  border-right: 1px solid #bbb;
}

.right {
  float: right;
  display: block;
  color: white;
  text-decoration: none;
  border-left: 1px solid #bbb;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px
  }
}

footer {
  background-color: black
}

.nummer {
  color: white
}

.moti {
  font-family: Copperplate, Papyrus, fantasy;
  display: flex;
  justify-content: center;
  align-items: center;
}
