* {
  box-sizing: border-box;
}

/*Stylar bodyn och bakgrunden*/
body {
  font-family: Verdana, sans-serif;
  background-color: #bdbdbd;
  background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
  margin: 0px;
}

/*Stylar headers*/
h1 {
  text-align: center;
  font-family: Copperplate, Papyrus, fantasy;
}

/*Stylar h2 titeln*/
h2 {
  text-align: center;
  font-family: Copperplate, Papyrus, fantasy;
}

/*Stylar h3 titeln*/
h3 {
  text-align: center;
  font-family: Copperplate, Papyrus, fantasy;
  margin-bottom: auto;
}

/*Stylar paragraftexten*/
p {
  font-family: Copperplate, Papyrus, fantasy;
}

/*Centrerar bildspelet*/
.mySlides {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.pics {
  width: 100%;
}

.text1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*Centrerar prickarna*/
.dots {
  text-align: center;
}

/* Slideshow container */
.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: auto;
}

/* Nummer text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Stylar pricakrna under bildspelet */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #aba1a1;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/*Ändrar färgen på den aktiva pricken*/
.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

ul {
  text-align: center;
}

/*Hover funktion så att menyalternativen byter färg*/
li a:hover {
  background-color: rgba(101, 40, 40, 0.71)
}

/*Stylar menyn*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(105, 105, 105);
}

/*Stylar menyalternativen*/
li {
  float: left;
}

/*Stylar delar av menyn*/
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

li {
  border-right: 1px solid #bbb;
}

/*Ser till att "Home" är längst till höger*/
.right {
  float: right;
  display: block;
  color: white;
  text-decoration: none;
  border-left: 1px solid #bbb;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px
  }
}

/* Ändrar färgen på footern */
footer {
  background-color: black
}

/* Ändrar färgen på informationstexten */
.info {
  color: white
}

/* Ändrar färgen på infotext och gör den underlined */
.info-u {
  color: white;
  text-decoration: underline;
}

.stay {
  text-align: center;
  margin-top: auto;
}

/* Stylar motivationstexten*/
.moti {
  font-family: Copperplate, Papyrus, fantasy;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
}

.why {
  margin-top: 50px;
  font-family: Copperplate, Papyrus, fantasy;
}

/* Stylar videon*/
.vid {
  height: 315px;
  width: 100%;
}

/* Stylar bilden*/
.triot {
  width: 100%;
}
